/*IMPORTANTE: el estilo debería ir en un archivo aparte*/
/*<link rel="stylesheet" href="style.css">*/

.fila_head{
    font-family:arial;
    font-size:100%;
    font-style:italic;
    font-variant:small-caps;/*normal|small-caps|initial */
    color:red;
    }
    
    table{
    border-collapse:collapse;
    background-color:yellow;
    border:1px dotted black;
    border-bottom-style:dashed;/*Estilo de la línea del borde de abajo de la tabla*/
    border-bottom-color:red;/*Color del borde de abajo de la tabla*/
    margin:0 auto;
    }
    
    td{ 
    border:1px dotted black;/*Para aplicar borde a cada celda de la tabla*/
    }
    