body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    padding: 0;
    margin: 0;
}
form{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
form label{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 97%;
    background: rgb(233, 230, 230);
    border-radius: 1.5em 1.5em 0em 0em;
    align-items: center;
}
form label span{
    color: rgb(12, 12, 12);
    font-weight: bold;
}
form label input{
    width: 100%;
    height: 1.8em;
    background: rgb(145, 142, 142);
    border: none;
    border-radius: .2em;
}
